 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9ac3de;
}

.container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10 10 1px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    font-size: 2em;
    color: #3498db;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #333;
}

label {
    margin-top: 10px;
    color: #333;
}

input {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}